#addMovie{
    background-color: rgb(235, 62, 62);
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#addMovie:hover{
    background-color: rgb(240, 108, 108);
    width:150px;
    transition-duration: 1s;
    border-radius: 30%;
}

#addMovie:hover:after{
    content:"Add a movie";
}

